$mobile-size: 990px;
$middle-size-1: 1138px;

*::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

// homepage
#index-container {
  display: flex;

  // 和上级内联样式冲突，需要删除上级内联样式单独调整
  #mirror-list {
    margin-left: 10vw;
    width: 60%;

    @media (max-width: $middle-size-1) {
      margin-left: 1vw;
    }

    @media (max-width: $mobile-size) {
      width: 100%;
      margin-left: 0;
    }
  }

  // sidebar
  #side-car {

    margin-top: 25px;

    .right-bar {
      display: flex;
      flex-direction: column;
      margin-right: 15vw;
    }

    @media (max-width: $middle-size-1) {
      margin-right: 0;
      width: 35%;
    }

    @media (max-width: $mobile-size) {
      margin-right: 0;
      margin-left: 5vw;
      width: unset;
      margin-top: unset;
    }

  }
  @media (max-width: $mobile-size) {
    flex-direction: column;
  }

}

// side bar (news)
#index-news-container {
  a {
    text-decoration: none;
  }
  #news-list {
    text-decoration: none;
  }

  #more-news {
    text-decoration: none;
    text-align: end;
    padding-right: 0vw;
  }
  #more-news:first-child:after {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    font-size: 0.8rem;
    margin-left: 0.5px;


  }
}

// nav bar
#nav-parent {
  min-height: 2vh;
  //width: 100vw;
  position: sticky;
  display: flex;
  margin: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: white;
  border-color: transparent;

  .navbar {
    width: 100%;
    display: flex;

    .nav-right {
      display: block;
      line-height: 50px;

      .nav {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 40px;

        li {
          a {
            text-decoration: none;
            color: #384452;
            background: transparent !important;
            font-weight: 700;
            font-size: 15px;
          }

          @media (min-width: $mobile-size) {
            display: inline-block;
            margin-left: 20px;
          }
        }

        @media (min-width: $mobile-size) {
          float: right;
          margin: 0;
          list-style: none;
        }
        @media (max-width: $mobile-size) {
          list-style: none;
        }
      }

      @media (min-width: $mobile-size) {
        float: right;
        margin-left: auto;
      }
      @media (max-width: $mobile-size) {
        //display: none;
        height: 0;
        max-height: 6000px;
        overflow: hidden;
        transition: height .75s;
      }
    }

    .nav-container {

      display: flex;

      .nav-brand {
        color: #384452;
        font-weight: 900;
        font-size: 20px;
        padding: 0;
        line-height: 50px;
        float: left;
        text-decoration: none;
        background-color: transparent;
        display: inline-block;
        margin-left: 5vw;
      }

      .nav-toggle {

        background-color: #ffffff;
        border: none;
        color: #333333;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        &:hover {
          background-color: #70ca73;
        }
        cursor: pointer;
        @media (max-width: $mobile-size) {
          margin-left: auto;
          float: right;
          position: relative;

        }
        @media (min-width: $mobile-size) {
          display: none;
        }
      }

      @media (max-width: $mobile-size) {
        box-sizing: border-box;
        //border-bottom: 4px groove rgb(227 227 227);
      }
    }

    a:-webkit-any-link {
      cursor: pointer;
    }

    a:-moz-any-link {
      cursor: pointer;
    }

    @media (max-width: $mobile-size) {

      flex-direction: column;
    }
  }

  @media (max-width: $mobile-size) {
    padding: inherit;
    box-sizing: border-box;
    border-bottom: 4px groove rgb(227 227 227 / 58%);


  }
}

// md-content 通用样式
#md-content {
  min-height: 75vh;
  @media (max-width: $mobile-size) {
    width: 100%;
    transition: width .75s;
  } // 响应式

  .nuxt-content {
    // short code
    .notice-note {
      border-top: 30px solid #6AB0DE;
      background: #E7F2FA;
      position: relative;
      padding: 15px;
      display: block;
      font-size: 1rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: #666;

      p:first-child:before {
        position: absolute;
        top: -22px;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f06a";
        left: 10px;
      }
      p:first-child:after {
        position: absolute;
        top: -28px;
        color: #fff;
        left: 2rem;
        content: 'Note';
      }
    }
    .notice-warn {
      border-top: 30px solid #ffcc71;
      background: #fff2e6;
      position: relative;
      padding: 15px;
      display: block;
      font-size: 1rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: #666;

      p:first-child:before {
        position: absolute;
        top: -22px;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f06a";
        left: 10px;
      }
      p:first-child:after {
        position: absolute;
        top: -28px;
        color: #fff;
        left: 2rem;
        content: 'Warn';
      }
    }
    .notice-info {
      border-top: 30px solid #9cd275;
      background: #edfce7;
      position: relative;
      padding: 15px;
      display: block;
      font-size: 1rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: #666;

      p:first-child:before {
        position: absolute;
        top: -22px;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f06a";
        left: 10px;
      }
      p:first-child:after {
        position: absolute;
        top: -28px;
        color: #fff;
        left: 2rem;
        content: 'Info';
      }
    }
    .notice-error {
      border-top: 30px solid #f07373;
      background: #ffe1e1;
      position: relative;
      padding: 15px;
      display: block;
      font-size: 1rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: #666;

      p:first-child:before {
        position: absolute;
        top: -22px;
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f06a";
        left: 10px;
      }
      p:first-child:after {
        position: absolute;
        top: -28px;
        color: #fff;
        left: 2rem;
        content: 'Error';
      }
    }

    margin-left: 5vw;

    // content style start
    //// title
    #title {

    }
    //// title-1
    #title-1 {
      &:before {
        content: '#';
      }
    }
    //// title-2
    #title-2 {
      &:before {
        content: '#';
      }
    }
    //// title-3
    #title-3 {
      &:before {
        content: '#';
      }
    }
    //// title-4
    #title-4 {
      &:before {
        content: '#';
      }
    }
    //// title-5
    #title-5 {
      &:before {
        content: '#';
      }
    }

    //// blockquote
    blockquote {
      background-color: #f5f5f5;
      border-left: 1.25rem solid #e5e5e5;
      border-bottom: 0.5px solid #eeeeee;
      border-right: 0.5px solid #eeeeee;
      border-top: 0.5px solid #eeeeee;
      padding-bottom: 5px;

      margin-left: 1vw;

      p {
        color: #4b4b4b;
        padding: 10px 20px;
        word-wrap: break-word;

      }
    }

    //// word qoute
    p {
      code {
        font-family: Arial;
        color: #3a3a3a;
        background-color: #e6fdda;
        padding: 1px 3px;
        border-radius: 1px;
        border: 1px solid #e6fdda;
      }
    }

    //// codeblock
    .nuxt-content-highlight {
      position: relative;

      .copy-btn {
        position: absolute;
        top: 2px;
        right: 0;
        //width: 10px;
        border: none;

        &:hover {
          background-color: #b4b4b4;
        }

        #clipboard-copy {
          padding: 2px 1px;

          &:after {
            font-family: "Font Awesome 5 Free";
            content: '\f0c5';
            color: #7c7c7c;
            font-size: 20px;
          }
        }
        #clipboard-check {
          padding: 2px 1px;

          &:after {
            font-family: "Font Awesome 5 Free";
            content: '\f058';
            color: #7c7c7c;
            font-size: 20px;
          }
        }
      }
    }

    //// table
    table {
      border-collapse: collapse;
      thead {
        tr {
          th {
            border: 2px solid #eeeeee;
            background-color: #eeeeee;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 10px;
            padding-bottom: 5px;

          }
        }
      }
      tbody {
        tr {
          td {
            border: 2px solid #eeeeee;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 10px;
            padding-bottom: 5px;
            font-weight: lighter;
          }
        }
      }
    }


    //// links
    a {
      text-decoration: none;
      color: #4e7717;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

// news content detail
.news-detail-content {
  margin-left: 18vw;
  width: 60%;

  #news-detail-title {
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 2vw;
    &:before {
      content: '# '
    }
  }

  .news-detail-container {
    margin-top: 2vh;
    margin-left: 3vw;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    vertical-align: center;

    #news-detail-date {
      font-size: 5px;
      text-align: center;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: '\f073';
        font-size: 5px;
      }
    }

    #news-detail-author {
      margin-left: 2vw;
      font-size: 5px;
      text-align: center;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: '\f007';
        font-size: 5px;
      }
    }
  }

}

// wiki content detail
.wiki-page-content {
  width: 80%;
}


// download button
#download-pkg {
  display: inline-block;
  padding: 6px 12px;
  width: 117px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #6da91e;
  border-color: #cfff8a;

  &:hover {
    color: #f1f1f1;
    background-color: #75b612;
    border-color: #a3c46b;
  }
}

// statue page
#status-container-parent {
  margin-left: 10vw;
  display: block;
  box-sizing: border-box;
  margin-bottom: 2vh;
  // text-settings
  color: #2f2f2f;

  @media (max-width: $mobile-size) {
    margin-left: 2vw;
  }
  &:first-child {
    @media (max-width: $mobile-size) {
      margin-left: 0;
    }
  }

  #status-title {
    @media (max-width: $mobile-size) {
      margin-left: 10vw;
    }
  }

  #status-container {
    display: flex;
    flex: 1;
    box-sizing: border-box;

    @media (max-width: $mobile-size) {
      overscroll-behavior: contain;
      overflow: auto;
    }
    .status-table {
      white-space:nowrap;
      border: 0px solid transparent;
      border-collapse: collapse;

      // background-highlight
      .syncing-row {
        background-color: #E3FFFD;
      }
      .error-row {
        background-color: #ffd9cb;
      }
    }
    .status-list {
      text-align: left;
      white-space:nowrap;
      padding-left: 2.5vw;
      padding-right: 2.5vw;

      border: 0px solid transparent;
      border-collapse: collapse;

      // override font color
      color: #505050;
      font-weight: bold;
    }
    .status-list-data {
      color: #5e5e5e;
      font-weight: lighter;
    }
  }

}

// new page
//// title
#news-page-title {
  margin-left: 25vw;
  font-weight: bold;
  font-size: 2rem;
  color: #424242;
  &:before {
    font-family: "Font Awesome 5 Free";
    content: '\f1ea';
    margin-right: 6px;
  }

  @media (max-width: $mobile-size) {
    margin-left: 2.5vw;
    font-size: 1rem;
  }
}
//// list style
#news-page-list {
  list-style: none;
  min-height: 62vh;
}
//// pagination
#news-page-pagination {
  margin-left: 30vw;
  margin-bottom: 2vh;
  // el-pagination color
  .el-pagination.is-background .el-pager li:hover {
    color: #1ccb4c;
  }
  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #1ccb4c;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active:hover {
    background-color: #1ccb4c;
    color: #ffffff;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #1ccb4c;
  }
}
//// index article navigator block
.article-block {
  a {
    text-decoration: none;
    color: #2f2f2f;
  }
  border-bottom: 1.5px solid rgb(236, 236, 236);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

  color: #2f2f2f;
  text-decoration: none;

  margin-left: 25vw;
  width: 40vw;

  @media (max-width: $mobile-size) {
    margin-left: 2vw;
    width: 80vw;
  }

  .article-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1vh;

    @media (max-width: $mobile-size) {
      font-size: 1rem;
    }

    &:before {
      content: '#';
    }
  }
  .article-detail-container {
    display: flex;
    flex-direction: row;
    vertical-align: center;

    .article-author {
      margin-left: 2vw;
      font-size: 1px;
      text-align: center;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: '\f007';
        font-size: 1px;
      }
    }

    .article-time {
      font-size: 1px;
      text-align: center;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: '\f073';
        font-size: 1px;
      }
    }
  }
}

