$mobile-size: 990px;
$middle-size-1: 1138px;

@import 'globalContent.scss';
@import 'lib/an-old-hope.min.scss';
@import 'highlight.scss';
@import 'downloadDialog.scss';
@import 'mirrorlist.scss';

*::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans SC", monospace;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

// homepage
#index-container {
  display: flex;

  // 和上级内联样式冲突，需要删除上级内联样式单独调整
  #mirror-list {
    margin-left: 10vw;
    width: 60%;

    @media (max-width: $middle-size-1) {
      margin-left: 1vw;
    }

    @media (max-width: $mobile-size) {
      width: 100%;
      margin-left: 0;
    }
  }

  // sidebar
  #side-car {

    margin-top: 25px;

    .right-bar {
      display: flex;
      flex-direction: column;
      margin-right: 15vw;
    }

    @media (max-width: $middle-size-1) {
      margin-right: 0;
      width: 35%;
    }

    @media (max-width: $mobile-size) {
      margin-right: 0;
      margin-left: 5vw;
      width: unset;
      margin-top: unset;
    }

  }

  @media (max-width: $mobile-size) {
    flex-direction: column;
  }

}

// side bar (news)
#index-news-container {
  a {
    text-decoration: none;
  }

  #news-list {
    text-decoration: none;
  }

  #more-news {
    text-decoration: none;
    text-align: end;
    padding-right: 0vw;
  }

  #more-news:first-child:after {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    font-size: 0.8rem;
    margin-left: 0.5px;


  }
}

// nav bar
#nav-parent {
  min-height: 2vh;
  //width: 100vw;
  position: sticky;
  display: flex;
  margin: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: white;
  border-color: transparent;

  .navbar {
    width: 100%;
    display: flex;

    .nav-right {
      display: block;
      line-height: 40px;

      .nav {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 40px;

        li {
          a {
            text-decoration: none;
            color: #384452;
            background: transparent !important;
            font-weight: 700;
            font-size: 15px;
          }

          @media (min-width: $mobile-size) {
            display: inline-block;
            margin-left: 20px;
          }
        }

        @media (min-width: $mobile-size) {
          float: right;
          margin: 0;
          list-style: none;
        }
        @media (max-width: $mobile-size) {
          list-style: none;
        }
      }

      @media (min-width: $mobile-size) {
        float: right;
        margin-left: auto;
      }
      @media (max-width: $mobile-size) {
        //display: none;
        height: 0;
        max-height: 6000px;
        overflow: hidden;
        transition: height .75s;
      }
    }

    .nav-container {

      display: flex;

      .nav-brand {
        color: #384452;
        font-weight: 900;
        font-size: 20px;
        padding: 0;
        line-height: 50px;
        float: left;
        text-decoration: none;
        background-color: transparent;
        display: inline-block;
        margin-left: 5vw;
      }

      .nav-toggle {

        background-color: #ffffff;
        border: none;
        color: #333333;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

        &:hover {
          background-color: #70ca73;
        }

        cursor: pointer;
        @media (max-width: $mobile-size) {
          margin-left: auto;
          float: right;
          position: relative;

        }
        @media (min-width: $mobile-size) {
          display: none;
        }
      }

      @media (max-width: $mobile-size) {
        box-sizing: border-box;
        //border-bottom: 4px groove rgb(227 227 227);
      }
    }

    a:-webkit-any-link {
      cursor: pointer;
    }

    a:-moz-any-link {
      cursor: pointer;
    }

    @media (max-width: $mobile-size) {

      flex-direction: column;
    }
  }

  @media (max-width: $mobile-size) {
    padding: inherit;
    box-sizing: border-box;
    border-bottom: 4px groove rgb(227 227 227 / 58%);


  }
}



// news content detail
.news-detail-content {
  margin-left: 18vw;
  width: 60%;

  @media (max-width: $mobile-size) {
    margin-left: 3vw;
    width: 80%;
  }

  #news-detail-title {
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 2vw;

    &:before {
      content: '# '
    }
  }

  .news-detail-container {
    margin-top: 2vh;
    margin-left: 3vw;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    vertical-align: center;

    #news-detail-date {
      font-size: 0.9em;
      text-align: center;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: '\f073';
      }
    }

    #news-detail-author {
      margin-left: 2vw;
      font-size: 0.9em;
      text-align: center;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: '\f007';
      }
    }
  }

}

// news page breadcrumb
.news-page-breadcrumb {
  margin-left: 20vw;
  margin-top: 2vh;
  margin-bottom: 2vh;

  @media (max-width: $mobile-size) {
    margin-left: 5vw;
  }
}




// download button on index page
#download-pkg {
  display: inline-block;
  padding: 6px 12px;
  width: 117px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #6da91e;
  border-color: #cfff8a;

  &:hover {
    color: #f1f1f1;
    background-color: #75b612;
    border-color: #a3c46b;
  }
}

// statue page
#status-container-parent {
  margin-left: 10vw;
  display: block;
  box-sizing: border-box;
  margin-bottom: 2vh;
  // text-settings
  color: #2f2f2f;

  @media (max-width: $mobile-size) {
    margin-left: 2vw;
  }

  &:first-child {
    @media (max-width: $mobile-size) {
      margin-left: 0;
    }
  }

  #status-title {
    @media (max-width: $mobile-size) {
      margin-left: 10vw;
    }
  }

  #status-container {
    display: flex;
    flex: 1;
    box-sizing: border-box;

    @media (max-width: $mobile-size) {
      //overscroll-behavior: contain;
      overflow: auto;
    }

    .status-table {
      white-space: nowrap;
      border: 0px solid transparent;
      border-collapse: collapse;

      // background-highlight
      .syncing-row {
        background-color: #E3FFFD;
      }

      .error-row {
        background-color: #ffd9cb;
      }
    }

    .status-list {
      text-align: left;
      white-space: nowrap;
      padding-left: 2.5vw;
      padding-right: 2.5vw;

      border: 0px solid transparent;
      border-collapse: collapse;

      // override font color
      color: #505050;
      font-weight: bold;
    }

    .status-list-data {
      color: #5e5e5e;
      font-weight: lighter;
    }
  }

}

// new page
//// title
#news-page-title {
  margin-left: 25vw;
  font-weight: bold;
  font-size: 2rem;
  color: #424242;

  &:before {
    font-family: "Font Awesome 5 Free";
    content: '\f1ea';
    margin-right: 6px;
  }

  @media (max-width: $mobile-size) {
    margin-left: 2.5vw;
    font-size: 1rem;
  }
}

//// list style
#news-page-list {
  list-style: none;
  min-height: 62vh;
}

//// pagination
#news-page-pagination {
  margin-left: 30vw;
  margin-bottom: 2vh;
  // el-pagination color
  .el-pagination.is-background .el-pager li:hover {
    color: #1ccb4c;
  }

  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #1ccb4c;
  }

  .el-pagination.is-background .el-pager li:not(.disabled).active:hover {
    background-color: #1ccb4c;
    color: #ffffff;
  }

  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #1ccb4c;
  }
}

//// index article navigator block
.article-block {
  a {
    text-decoration: none;
    color: #2f2f2f;
  }

  border-bottom: 1.5px solid rgb(236, 236, 236);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

  color: #2f2f2f;
  text-decoration: none;

  margin-left: 25vw;
  width: 40vw;

  @media (max-width: $mobile-size) {
    margin-left: 2vw;
    width: 80vw;
  }

  .article-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1vh;

    @media (max-width: $mobile-size) {
      font-size: 1rem;
    }

    &:before {
      content: '#';
    }
  }

  .article-detail-container {
    display: flex;
    flex-direction: row;
    vertical-align: center;

    .article-author {
      margin-left: 2vw;
      font-size: 0.7em;
      text-align: center;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: '\f007';
      }
    }

    .article-time {
      font-size: 0.7em;
      text-align: center;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: '\f073';
      }
    }
  }
}

// warp notice

.site-notice {
  padding-top: 0.8vh;

  // take place of element ui icon
  .el-icon-success {
    &:before {
      font-family: "Font Awesome 5 Free";
      content: '\f058';
      font-style: normal; // required
    }
  }

  .el-icon-info {
    &:before {
      font-family: "Font Awesome 5 Free";
      content: '\f05a';
      font-style: normal; // required
    }
  }

  .el-icon-warning {
    &:before {
      font-family: "Font Awesome 5 Free";
      content: '\f06a';
      font-style: normal; // required
    }
  }

  .el-icon-error {
    &:before {
      font-family: "Font Awesome 5 Free";
      content: '\f057';
      font-style: normal; // required
    }
  }
}

// float button
.float-tools-parent {
  // element bottom 原始值为40px, tools新增一项向上浮动距离为
  // 40(原始) + 5(与自定义组件 margin-top 距离) + (40(单个组件高度)+5(单个组件外上边距))
  bottom: 90px;
  right: 40px;

  position: fixed;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  // el-backtop
  .el-backtop {
    color: #1ccb4c;
    &:hover {
      background-color: #e5eee4;
    }
  }

  .float-tools-item {

    margin-top: 10px;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 0 0 6px rgba(0, 0, 0, .12);
    cursor: pointer;
    z-index: 5;
    color: #6e6e6e;

    &:hover {
      background-color: #ececec;
    }
  }
}

// wiki nav open
#nav-open {
  display: none;
  margin-top: 15px;
  margin-left: 5px;
  @media (max-width: $mobile-size) {
    display: block;
    //position: fixed;
    width: 150px;
    //height: 20px;
    top:0;
    border: none;
    background-color: transparent;
    &:hover {
      background-color: #e8e8e8;
    }
  }
  font-size: 20px;
  line-height: 30px;
  .nav-open-icon:before {
    font-family: "Font Awesome 5 Free";
    content: '\f550';
  }
  .nav-open-icon:after {
    font-family: "Noto Sans SC", monospace;
    font-style: normal;
    margin-left: 5px;
    content: ' 全部文档';
  }
}

// wiki page (wiki/index.vue)
.wiki-container {
  a {
    text-decoration: none;
    color: #000000;
  }
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (max-width: $mobile-size) {
    flex-direction: column;
  }

  #nav-close {
    display: none;
    background-color: transparent;
    @media (max-width: $mobile-size) {
      display: block;
      position: fixed;
      top: 60px;
      right: 50px;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      padding: 0;
      background-color: transparent;
    }
    i {
      &:before {
        content: '\f35a';
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-size: 2rem;

      }
      @media (max-width: $mobile-size) {
        font-size: 50px;
        text-align: center;
        vertical-align: center;
        color: #c5c5c5;
        background-color: transparent;
      }
      &:hover {
        @media (max-width: $mobile-size) {
          color: #dadada;
          background-color: transparent;
        }
      }
    }
  }

  .wiki-nav-container {

    width: 22%;
    @media (max-width: 1700px) {
      width: 27%;
    }
    @media (max-width: 1460px) {
      width: 29%;
    }
    @media (max-width: 1380px) {
      width: 31%;
    }
    @media (max-width: 1300px) {
      width: 33%;
    }
    @media (max-width: 1210px) {
      width: 35%;
    }

    padding-left: 2vw;
    padding-top: 5vh;
    padding-right: 2vw;

    @media (max-width: $mobile-size) {
      position: absolute;
      z-index: 9000;
      width: 100%;
      //height: 100vh;
      background-color: #ffffff;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      padding-left: 0;
      padding-top: 10vh;
      padding-right: 0;
      overflow: auto;
      // TODO
      //display: none;
    }

    .wiki-nav {

      border-right: 1px solid #efefef;

      @media (max-width: $mobile-size) {
        display: flex;
        margin-left: 10vw;
        width: 60%;
        border-left: 1px solid #eeeeee;
        border-right: none;
      }


      .leaf-parent .leaf-end.router-link-exact-active {
        background-color: #deffd0;
        border-left: 5px solid #1ccb4c;
        border-right: 5px solid #deffd0;
        border-radius: 5px;
      }

      .leaf-parent {

        .leaf-end {
          margin-left: 5px;

        }
        .router-link-exact-active {
          background-color: #deffd0;
        }
      }

      .el-tree-node__content {
        &:hover {
          background-color: transparent !important;
          cursor: initial !important;
        }
      }
      .is-current {
        background-color: transparent !important;
      }
    }
  }
}

// wiki content (wiki/index/[...slug].vue)
.wiki-content-parent {
  width: 78%;
  @media (max-width: 1700px) {
    width: 73%;
  }
  @media (max-width: 1460px) {
    width: 71%;
  }
  @media (max-width: 1380px) {
    width: 69%;
  }
  @media (max-width: 1300px) {
    width: 67%;
  }
  @media (max-width: 1210px) {
    width: 65%;
  }

  @media (max-width: $mobile-size) {
    width: auto;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-bottom: 2vh;
    padding-right: 2vh;
  }

  .wiki-content-container-parent {

    width: 100%;

    .wiki-content-container {

      width: 100%;

      display: flex;
      flex-direction: row;

      @media (max-width: $mobile-size) {
        flex-direction: column-reverse;
      }

      .wiki-page-content {
        width: 60%;

        @media (max-width: 1460px) {
          width: 68%;
        }
        @media (max-width: 1300px) {
          width: 72%;
        }

        @media (max-width: $mobile-size) {
          word-break: break-all;
        }

      }

      .wiki-page-content#md-content {

        @media (max-width: $mobile-size) {
          width: 100%;
        }
      }

      .wiki-content-toc {
        position: fixed;
        width: 40%;
        right: -20%;
        background-color: rgba(255, 255, 255, 0.87);
        color: #4b4b4b;


        @media (max-width: 1460px) {
          width: 32%;
          right: -15%;
          top: 10%;
        }
        @media (max-width: 1300px) {
          width: 28%;
        }

        @media (max-width: $mobile-size) {
          position: inherit;
          background-color: #fcfcfc;
          width: 90%;
          padding: 5px;
          border-top: 5px solid #efefef;
          border-bottom: 5px solid #efefef;
        }

        .wiki-toc-nav {

          ul {
            list-style: none;
            margin-block-start: 0 !important;
            margin-block-end: 0 !important;
            padding-left: 0;

            margin-left: 5px;

            .toc-list {
              a {
                position: relative;
                color: #4b4b4b;
              }
              a:before {
                content: '# ';
                font-weight: bold;
                color: #4b4b4b;
              }
              a:hover {

              }
              a:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background-color: #bdbdbd;
                position: absolute;
                bottom: -2px;
                left: 0;
                transition: width 0.3s ease-in-out; /* 过渡效果 */
              }
              a:hover:after {
                width: 100%;
              }
            }
          }
        }

      }
    }
  }
}


